@import "lib/govuk-frontend/dist/govuk/base";
@import "hods-loading-spinner";

.govuk-summary-list--key-override {
    font-weight: 400;
    padding-top: 0;
    padding-bottom: 0 !important;
    display: table-cell;
    padding-right: 0.25em;
}

.govuk-summary-list--value-override {
   font-weight: 700;
   padding-top: 0;
   padding-bottom: 0 !important;
   display: table-cell;
}

.software-vendor-list-heading-override {
   @include govuk-responsive-padding(4, "top");
}

.filters-section {
    background-color: govuk-colour("light-grey");
    padding: $govuk-gutter-half;
}

.filters-section > * {
    border-top: 1px solid govuk-colour("mid-grey");
}

.filters-section > *:first-child, .filters-section > *:nth-child(2) {
    border-top: 0;
}

.filters-section:first-of-type {
    margin-bottom: 1em;
}

.apply-filters-group {
    border-top: 0px;
}

.search-input-group {

  button.govuk-button{
    padding: 0;
    margin-bottom: 0;
    width: auto;

    .search-icon {
      display: inline-block;
      height: 30px;
      width: 48px;
      background-image: url(../images/search-button.png);
      background-repeat: no-repeat;
      background-position: -12.5% 45%;
    }

    &:focus:not(:active):not(:hover) .search-icon {
      background-image: url("../images/search-button-dark.png");
    }

    &:active {
      top: 0;
    }

    &:active:hover, &:focus:hover, &:active:focus {
      .search-icon {
        height: 32px;
      }
    }
  }
}

@include govuk-media-query ($from: tablet) {
  .search-input-group {
    button.govuk-button{
      .search-icon {
        display: inline-block;
        height: 31px;
      }

      &:active:hover, &:focus:hover, &:active:focus {
        .search-icon {
          height: 33px;
        }
      }
    }
  }
}

body {
  #searchTerm {
    margin-bottom: 1em;
  }
}

.govuk-form-group--error {
  #searchButton:active {
    top: 42px;
  }
}

#software-vendors {
  .loading-status {
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    height: 1.47368em;
    width: 1.36842em;
    vertical-align: middle;
    display: none;
    margin-bottom: govuk-spacing(8)
  }

  &.loading .loading-status {
    display: inline-block;
  }
}

.govuk-fieldset > .govuk-form-group {
  margin: 0;
}

.software-vendors-num {
    width: 100%;
    display: block;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #b1b4b6;
    margin-bottom: 15px;
}

.software-packages-full {
    width: auto;
    height: auto;
    display: block;
    margin-top: 20px;
}

.full-software-package {
    height: 65px;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #b1b4b6;
    display: block;
}

.software-packages-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.software-packages-ul li {
    margin-top: -1px;
    /* Prevent double borders */
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

.software-package {
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto;
    width: 800px;
    float: left;
    display: block;
}

legend.govuk-hidden {
    display: none;
}

.govuk-accordion__section > .govuk-accordion__section-content {
    @include govuk-responsive-padding(0);
}

.inverse-header {
    margin-left: auto;
    margin-right: auto;
    background-color: govuk-colour("blue") ;
    color: govuk-colour("white") ;
}

.inverse-label {
    background-color: govuk-colour("blue") ;
    color: govuk-colour("white") ;
    padding: 10px;
    display: inline-block;
}


div:has(div.hods-loading-spinner) { .govuk-grid-column-two-thirds {width:100%;} }


div:has(div.hods-loading-spinner) { .govuk-grid-column-two-thirds {width:100%;} }