@import "lib/govuk-frontend/govuk/base";

.govuk-summary-list--key-override {
    font-weight: 400;
    padding-top: 0;
    padding-bottom: 0 !important;
    display: table-cell;
    padding-right: 0.25em;
}

.govuk-summary-list--value-override {
   font-weight: 700;
   padding-top: 0;
   padding-bottom: 0 !important;
   display: table-cell;
}

@media (min-width: 40.0625em) {
    .govuk-summary-list--key-override {
        width: 25%;
    }
}

.software-vendor-list-heading-override {
   @include govuk-responsive-padding(4, "top");
}

.filters-section {
    background-color: govuk-colour("light-grey");
    padding: $govuk-gutter-half;
}

.filters-section > * {
    border-bottom: 1px solid govuk-colour("mid-grey");
}

.filters-section > *:first-child {
    border-bottom: 0;
}

.filters-section > *:last-child {
    border-bottom: 0;
}

.search-button {
  position: relative;

  button.govuk-button{
    position: absolute;
    padding: 0;

    .search-icon {
      display: inline-block;
      height: 31px;
      width: 48px;
      background-image: url(../images/search-button.png);
      background-repeat: no-repeat;
      background-position: -12.5% 45%;
    }

    &:focus .search-icon {
      background-image: url("../images/search-button-dark.png");
    }
  }
}
