@import "lib/govuk-frontend/govuk/base";

.govuk-summary-list--key-override {
    font-weight: 400;
    padding-top: 0;
    padding-bottom: 0 !important;
    display: table-cell;
    padding-right: 0.25em;
}

.govuk-summary-list--value-override {
   font-weight: 700;
   padding-top: 0;
   padding-bottom: 0 !important;
   display: table-cell;
}

@media (min-width: 40.0625em) {
    .govuk-summary-list--key-override {
        width: 25%;
    }
}

.software-vendor-list-heading-override {
   @include govuk-responsive-padding(4, "top");
}

.filters-section {
    background-color: govuk-colour("light-grey");
    padding: $govuk-gutter-half;
}

.filters-section > * {
    border-top: 1px solid govuk-colour("mid-grey");
}

.filters-section > *:first-child, .filters-section > *:nth-child(2) {
    border-top: 0;
}

.search-input-group {
  position: relative;

  #searchTerm {
    width: calc(100% - 58px);
  }

  button.govuk-button{
    position: absolute;
    padding: 0;
    display: none;
    width: auto;

    .search-icon {
      display: inline-block;
      height: 31px;
      width: 48px;
      background-image: url(../images/search-button.png);
      background-repeat: no-repeat;
      background-position: -12.5% 45%;
    }

    &:focus .search-icon {
      background-image: url("../images/search-button-dark.png");
    }
  }
}

body:not(.js-enabled) {
  #searchButton {
    display: inline-block;
  }
}

.govuk-form-group--error {
  #searchButton:active {
    top: 42px;
  }
}

#software-vendors {
  .loading-status {
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    height: 1.47368em;
    width: 1.36842em;
    vertical-align: middle;
    display: none;
  }

  &.loading .loading-status {
    display: inline-block;
  }
}

.govuk-fieldset > .govuk-form-group {
  margin: 0;
}

.software-vendors-num {
    width: 100%;
    display: block;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #b1b4b6;
    margin-bottom: 15px;
}

.software-packages-full {
    width: auto;
    height: auto;
    display: block;
    margin-top: 20px;
}

.full-software-package {
    height: 65px;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #b1b4b6;
    display: block;
}

.software-packages-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.software-packages-ul li {
    margin-top: -1px;
    /* Prevent double borders */
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

.software-package {
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto;
    width: 800px;
    float: left;
    display: block;
}
